body{
    background-color: antiquewhite;
    font-family: sans-serif;
}

.title{
    text-align: center;
    margin-bottom: 15;
}

.description{
    text-align: center;
    margin-bottom: 15;
    margin-top: 0;
}